<meta property="og:locale" content="fr_FR">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% elsif page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
{% else %}
  <meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
  <meta property="og:image" content="{{ site.url }}/assets/img/header.png">
{% endif %}

<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
