/*
Base layout.
*/

@import "globals/variables";

html,
body {
  background-color: $body-bg;
}

.site-header {
  background-color: $header-bg;
  h1 a {
    display: block;
    max-width: 830px;
    min-height: 241px;
    margin:auto;
    text-indent: -9999px;
    background: url(/assets/img/header.png) bottom left no-repeat;
    background-size: contain;
    @media (max-width: 700px) {
      min-height: 204px;
    }
    @media (max-width: 600px) {
      min-height: 171px;
    }
    @media (max-width: 500px) {
      min-height: 146px;
    }
    @media (max-width: 400px) {
      min-height: 116px;
    }
  }
}

.site-nav {
  background-color: $nav-bg;

  > a {
    display: inline-block;
    padding: 28px 4px;
    font-size: 19px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}

/* Site footer */

.site-footer {
  color: $footer-color;
  background-color: $footer-bg;
}

.site-footer {
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

