@import "globals/variables";

.wrap:before,
.wrap:after {
  content:"";
  display:table;
}

.wrap:after {
  clear: both;
}

.wrap {
  max-width: 830px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


// --- Strike text ---
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
